@import "mixins/banner";
@include bsBanner("");

// *************************** Theme Colours ****************************
// Define theme colour scheme
$theme-color-primary: #0071eb;

$theme-text-color-primary: #222222;
$theme-text-color-secondary: lighten($theme-text-color-primary, 25%);
$theme-text-color-light: lighten($theme-text-color-primary, 40%);

$theme-bg-light: #f5f5f5;
$theme-bg-dark: $theme-color-primary;
$theme-bg-color: $theme-color-primary;

$theme-border-color: #efefef;
$theme-divider-color: #efefef;

$theme-divider: lighten($theme-text-color-primary, 75%);

$smoky-white: #f5f5f5;

$single-col-max: 800px;

// $theme-success-color: #5cb377;
$theme-success-color: #28a745;
// $theme-warning-color: #eebf41;
$theme-warning-color: #dbab09;
$theme-info-color: #5b99ea;
// $theme-danger-color: #d26d69;
$theme-danger-color: #dc3545;

// *************************** Variables Section *****************************
// Create variables to override the default value for variables used in the Bootstrap SCSS files.

$gray-100: lighten($theme-text-color-primary, 80%);
$gray-200: lighten($theme-text-color-primary, 70%);
$gray-300: lighten($theme-text-color-primary, 60%);
$gray-400: lighten($theme-text-color-primary, 50%);
$gray-500: lighten($theme-text-color-primary, 40%);
$gray-600: lighten($theme-text-color-primary, 30%);
$gray-700: lighten($theme-text-color-primary, 20%);
$gray-800: lighten($theme-text-color-primary, 10%);
$gray-900: $theme-text-color-primary;

// Override BS5 sass color
$primary: $theme-color-primary;
$secondary: $theme-text-color-secondary;
$success: $theme-success-color;
$danger: $theme-danger-color;
$warning: $theme-warning-color;
$info: $theme-info-color;

$dark: lighten($gray-900, 7.5%);

$font-family-sans-serif:
    "Inter",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

$font-family-monospace:
    "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;

// *************************** Config Overrides *****************************

$enable-negative-margins: true;

// *************************** Import Bootstrap *****************************

// Configuration
@import "functions";
@import "variables";
@import "variables-dark";
@import "maps";
@import "mixins";
@import "utilities";

// *************************** Bootstrap Components ****************************

// Layout & components
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "containers";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "nav";
@import "navbar";
@import "card";
@import "accordion";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "alert";
@import "progress";
@import "list-group";
@import "close";
@import "toasts";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "spinners";
@import "offcanvas";
@import "placeholders";

// Helpers
@import "helpers";

// Utilities
@import "utilities/api";

// *************************** Theme Styles Section ****************************
// Fonts and Additional CSS
@import "theme/extra";

// Light theme
@import "theme/mixins";
@import "theme/light/base";
@import "theme/light/docs";
@import "theme/light/gist-default";

// *************************** Dark Theme ****************************
$color-mode-type: "data";
@include color-mode(dark) {
    $theme-color-primary: #1b89ff;

    $theme-text-color-primary: $white;
    $theme-text-color-secondary: darken($theme-text-color-primary, 25%);
    $theme-text-color-light: darken($theme-text-color-primary, 40%);

    $theme-white: $gray-900;
    $theme-bg-light: $gray-800;
    $theme-bg-dark: darken($theme-color-primary, 10%);
    $theme-bg-color: $theme-color-primary;

    $theme-border-color: $gray-700;
    $theme-divider-color: $gray-700;

    $theme-divider: $gray-600;

    // $theme-color-new: #487ab0;
    // $theme-error: #ec575b;

    $smoky-white: $gray-800;

    // $theme-success-color: #5cb377;
    // $theme-warning-color: #eebf41;
    // $theme-info-color: #5b99ea;
    // $theme-danger-color: #d26d69;

    &,
    *,
    *:before,
    *:after {
        scrollbar-color: rgba(255, 255, 255, 0.2) $smoky-white !important;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            width: 6px;
            background-color: $smoky-white !important;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.125) !important;
            @include border-radius(0.5rem);
        }
    }

    @import "theme/dark/base";
    @import "theme/dark/docs";
    @import "theme/dark/gist-monokai";
}
