/* ============= Base ============= */

/*********** Theme Generic **********/
.d-light i.fa,
.d-dark i.fa {
    vertical-align: middle;
}

.d-dark {
    display: none !important;
}

html,
html *,
html *:before,
html *:after {
    scrollbar-color: rgba(0, 0, 0, 0.2) $smoky-white;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: $smoky-white;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.125);
        @include border-radius(0.5rem);
    }
}

body {
    font-family: $font-family-base;
    font-feature-settings:
        "liga" 1,
        "calt" 1; // Fix for chrome
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: lighten($theme-text-color-secondary, 5%);
    padding-top: calc(65px + var(--#{$prefix}header-offset, 0px));
}

@supports (font-variation-settings: normal) {
    body {
        font-family: "InterVariable", $font-family-base;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Metropolis", $font-family-base;
    color: $theme-text-color-primary;
    font-weight: 700;
}

code {
    background: $theme-bg-light;
    color: $theme-text-color-primary;
    padding: 0.25rem 0.375rem;
    @include border-radius(0.25rem);
}

// .table-bordered th,
// .table-bordered td {
//   border-color: $theme-divider;
// }

// .table th,
// .table td {
//   border-color: $theme-divider;
// }

// .table thead th {
//   border-color: $theme-divider;
// }

// .table-striped tbody tr:nth-of-type(odd) {
//   background-color: $smoky-white;
// }

// .table-dark th,
// .table-dark td,
// .table-dark thead th {
//   border-color: lighten($theme-text-color-primary, 20%);
// }

// .popover {
//   border-color: darken($theme-bg-light, 5%);
// }

// .bs-popover-left > .arrow::before,
// .bs-popover-auto[x-placement^="left"] > .arrow::before {
//   border-left-color: darken($theme-bg-light, 5%);
// }

// .bs-popover-right > .arrow::before,
// .bs-popover-auto[x-placement^="right"] > .arrow::before {
//   border-right-color: darken($theme-bg-light, 5%);
// }

// .bs-popover-top > .arrow::before,
// .bs-popover-auto[x-placement^="top"] > .arrow::before {
//   border-top-color: darken($theme-bg-light, 5%);
// }

// .bs-popover-bottom > .arrow::before,
// .bs-popover-auto[x-placement^="bottom"] > .arrow::before {
//   border-bottom-color: darken($theme-bg-light, 5%);
// }

a.theme-link {
    color: $theme-text-color-primary;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba($theme-text-color-primary, 0.3);
    text-decoration-color: rgba($theme-text-color-primary, 0.3);

    &:hover {
        color: $theme-color-primary;
        -webkit-text-decoration-color: rgba($theme-color-primary, 0.8);
        text-decoration-color: rgba($theme-color-primary, 0.8);
    }
}

a.text-link {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

// .btn {
//     font-weight: 500;
//     padding: 0.6rem 1.25rem;
//     @include transition(all, 0.4s, ease-in-out);
//     // border: none;

//     &:hover,
//     &:active,
//     &:focus {
//         box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
//         box-shadow: 0 12px 24px -6px rgba(0, 0, 0, 0.15);
//         text-decoration: none;
//     }

//     &:focus,
//     &.focus {
//         box-shadow: none;
//     }
// }

// .btn-primary {
//   background: $theme-color-primary;
//   color: #fff;

//   &:hover,
//   &:focus,
//   &:active {
//     color: #fff;
//   }
// }

// .btn-secondary {
//   background: $theme-text-color-secondary;
//   color: #fff;
// }

// .btn-light {
//   background: $theme-bg-light;
//   color: #000;

//   &:hover {
//     background: $theme-bg-light;
//     color: #000;
//   }
// }

// .form-control {
//   padding-top: 0.875rem;
//   padding-bottom: 0.875rem;
//   border-color: darken($theme-bg-light, 5%);

//   &:not(textarea) {
//     height: 2.75rem;
//   }

//   &:focus {
//     box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
//     outline: none;
//   }
// }

.theme-icon-holder {
    display: inline-block;
    background: $theme-bg-light;
    color: $theme-color-primary;
    width: 32px;
    height: 32px;
    padding-top: 4px;
    font-size: 1rem;
    text-align: center;
    @include border-radius(50%);
}

.theme-bg-light {
    background: $theme-bg-light;
}

.theme-bg-dark {
    background: $theme-bg-dark;
}

.theme-bg-shapes-right {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: hidden;

    &:before {
        content: "";
        width: 300px;
        height: 150px;
        background: rgba(256, 256, 256, 0.1);
        position: absolute;
        right: -60px;
        top: 0;
        @include border-radius(4px);
        @include skew(25, -10);
        @include transform-origin(top left);
    }

    &:after {
        content: "";
        width: 150px;
        height: 600px;
        background: rgba(256, 256, 256, 0.15);
        position: absolute;
        right: 0px;
        top: 30px;
        @include border-radius(6px);
        @include skew(25, 10);
        @include transform-origin(top left);
    }
}

.theme-bg-shapes-left {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    top: 0;
    overflow: hidden;

    &:before {
        content: "";
        width: 300px;
        height: 150px;
        background: rgba(256, 256, 256, 0.1);
        position: absolute;
        left: -90px;
        top: 0;
        @include border-radius(6px);
        @include skew(25, -12);
        @include transform-origin(top left);
    }

    &:after {
        content: "";
        width: 150px;
        height: 600px;
        background: rgba(256, 256, 256, 0.15);
        position: absolute;
        left: 0px;
        top: 30px;
        @include border-radius(4px);
        @include skew(-25, 10);
        @include transform-origin(top left);
    }
}

.break {
    flex-basis: 100%;
    height: 0;
}

.break-column {
    flex-basis: 100%;
    width: 0;
}

/*********** Theme Utilities **********/

.border-radius-0 {
    @include border-radius(0);
}

.font-style-normal {
    font-style: normal !important;
}

.single-col-max {
    max-width: $single-col-max;
}

/* Header */

@keyframes brand-logo-rainbow {
    0% {
        border-left-color: $theme-color-primary;
    }
    10% {
        border-left-color: $indigo;
    }
    20% {
        border-left-color: $purple;
    }
    30% {
        border-left-color: $pink;
    }
    40% {
        border-left-color: $red;
    }
    50% {
        border-left-color: $orange;
    }
    60% {
        border-left-color: $yellow;
    }
    70% {
        border-left-color: $teal;
    }
    80% {
        border-left-color: $green;
    }
    90% {
        border-left-color: $cyan;
    }
    100% {
        border-left-color: $theme-color-primary;
    }
}

.site-logo {
    height: 64px;

    .navbar-brand {
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
        align-items: safe center;
        height: 100%;

        .brand-icon {
            height: 65%;
            margin-right: 10px;
        }

        .brand-logo {
            border-left-color: $theme-color-primary;
            color: $theme-text-color-primary;
            padding: 5px 0 5px 0;
            margin: 0 auto;
            text-align: left;
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            &:first-child {
                padding: 5px 0 5px 10px;
                border-left-width: 3.5px;
                border-left-style: solid;
            }

            &.rainbow {
                animation: brand-logo-rainbow 30s linear 4s infinite;
            }

            .brand-name {
                margin: 0;
                font-size: 1.4rem;
                line-height: 1;
                font-weight: 700;
            }

            .service-name {
                margin: 0;
                font-size: 1.1rem;
                line-height: 1;
                font-family: "Metropolis", $font-family-base;
                font-weight: 500;
            }
        }
    }
}

/* Page headers */
.page-header {
    &.theme-bg-dark {
        .page-heading {
            color: #fff;
        }

        .page-intro {
            color: #fff;
            @include opacity(0.8);
        }
    }
}

.social-list {
    li {
        font-size: 1.125rem;
        background: $theme-bg-light;
        width: 32px;
        height: 32px;
        text-align: center;
        @include border-radius(50%);
        padding-top: 2px;

        a {
            color: $theme-color-primary;
            &:hover {
                color: lighten($theme-color-primary, 10%);
            }
        }

        &:not(:last-child) {
            margin-right: 0.875rem;
        }
    }
}

.header {
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.1));
    background: #fff;
    border-bottom: 1px solid $theme-border-color;

    .nav-links {
        min-height: 38px;

        .nav-button-container {
            column-gap: 0.75rem;
            row-gap: 0.333rem;
        }

        .navbar-button {
            display: inline-block;
            text-decoration: none;
            font-size: 1.1rem;
            font-weight: 600;
            border-bottom: 2px solid transparent;
            padding: 0.25rem 0.75rem;
            color: $theme-text-color-secondary;

            &:hover,
            &.active {
                border-bottom-color: $link-color;
                color: $link-color;
            }
        }
    }
}

// .btn-success,
// .btn-warning,
// .btn-info,
// .btn-danger {
//   color: #fff;

//   &:hover,
//   &:focus,
//   &:active {
//     color: #fff;
//   }
// }

/* Footer */
.footer {
    border-top: 1px solid $theme-border-color;

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        font-size: 0.875rem;
        -moz-column-gap: 1.25rem;
        column-gap: 1.25rem;
        row-gap: 0.5rem;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }

    a {
        text-decoration: none;

        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
}

/* Page related */
.page-heading {
    font-size: 2.5rem;
    word-break: break-word;
}
.page-intro {
    font-size: 1.125rem;
    word-break: break-word;
}
